body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.btnlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #61DAFB;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;

}
.navigation .btnlogin:hover {
  background: black;
  color: white
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.w{
  width: 60px;
}
.foot{
  background-color: gray;
  font-size: 13px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 86.5vh;
  background-color: rgb(39, 39, 53);
  color: white;
  padding: 57px 27px;
  background-image: url(/public/logo512.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}
.Rapp{
  color: #61DAFB;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.facts{
  margin-top: 39px;
}
.facts > li{
  padding-block: 10px;
  max-width: 400px;
}
.facts > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;

}
.letter{
  letter-spacing: -0.05rem;
}
.bd{
  background-color: rgb(39, 39, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c_1{
  color: white;
}
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14151d;
  width: 17rem;
}
.con{
  text-align: left;
  background-color: #14151d;
  width: 17rem;
  padding: 1rem;
}
.w_2{
  width: 17rem;
}
.left{
  text-align: left;
}
.f_1{
  font-size: 12px;
  word-spacing: 1px;
  width: 17rem;
  text-align: left;
}
.bg_1{
  background-color: #14151d; 
}
.profile{
  width: 17rem;
  height: 13rem;
  margin-bottom: 1.5rem;
  border-radius: 20px 20px 0 0; 
}
.btns{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.email{
  color: rgb(10, 3, 27);
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 34px;
  font-size: 15px;
}
.linkedin{
  color: white;
  background-color:  rgb(85, 124, 233);
  border: none;
  border-radius: 4px;
  padding: 2px 34px;
  font-size: 15px;
}
.f_w{
  font-weight: 100;
}
.m_g{
  margin-top: -9px;
  font-size: 14px;
}
.m_g1{
  margin-top: -21px;
}
.bd_b{
  border-radius: 20px 20px 0 0; 
}
.saf{
  font-size: 12px;
  margin-top: -12px;
}