body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.btnlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;

}
.navigation .btnlogin:hover {
  background: black;
  color: white
}
.navigation{
  margin-left: 50rem;
  
}